<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!--Conexion-->
	
	<connectionStrings>
		<add name="Conexion" connectionString="Data Source=DESKTOP-QLR1BNJ; DataBase=Estudiante; Integrated Security=true"/>
	</connectionStrings>
		
</configuration>